.table {
	margin-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th {
	text-align: center;
}

label {
	word-break: break-all;
}

.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (min-width: 992px) {
	main {
		display: grid;
		grid-template-columns: 3fr 2fr;
	}
}